main {
    display: flex;
    flex-direction: column;
}

@media(min-width: 600px){
    main {
        flex-direction: row;
    }
}

main > div {
    padding-left: 1em;
}

#about-navlink {
    color: beige;
}

#portrait {
    width: 50%;
    object-fit: scale-down;
}