article {
    display: flex;
    flex-direction: column;
}

@media(min-width: 600px) {
    article {
        flex-direction: row;
    }
}

#projects-navlink {
    color: beige;
}

main > article > section:first-child {
    padding-right: 1em;
}

main > article > section > ul {
    list-style-type: none;
    padding-left: 0;
}

article {
    background-color: #f0f0f0;
    margin-bottom: 0.5em;
}
