{% extends "base.html" %}

{% block title %}
    Brook Li - Projects
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static "projects/style.css"%}>
{% endblock %}

{% block body %}
    <h1>Projects</h1>
    <main>
        <article>
            <section>
                <img src={% static "projects/simmer.png" %}>
            </section>
            <section>
                <h2>Simmer</h2>
                <p>Save recipes from popular recipe sites for sharing and offline viewing. Get recommendations from
                    users with similar tastes.</p>
                <p>To save a recipe, navigate to the recipe page of any of 5 supported sites in Google Chrome and use
                    the Chrome extension. Alteratively, one can enter the URL into the web application.</p>
                <p>For offline viewing, one can save the web application as a desktop or mobile app. Previously visited
                    pages are automatically cached.</p>
                <ul>
                    <li><a href="https://simmer.brook.li">Live site</a></li>
                    <li><a href="https://github.com/1902cs-indigo-oscar/Simmer">Github</a></li>
                </ul>
            </section>
        </article>
        <article>
            <section>
                <img src={% static "projects/mafia.png" %}>
            </section>
            <section>
                <h2>Absreim's Mafia</h2>
                <p>Multiplayer mafia party game implemented as a web application.</p>
                <ul>
                    <li><a href="https://mafia.brook.li">Live site</a></li>
                    <li><a href="https://github.com/absreim/mafia">Github</a></li>
                </ul>
            </section>
        </article>
    </main>
{% endblock %}
