body {
    font-family: sans-serif;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
}

#nav-header-container {
    background-color: #2d39ab;
    padding: 1em;
}

header {
    color: white;
    font-size: larger;
    margin-bottom: 1em;
}

nav {
    color: #9ba8ff;
    display: flex;
    flex-direction: row;
}

nav > a {
    text-decoration: none;
}

nav > a:not(:last-child) {
    padding-right: 1em;
}

nav > a:visited {
    color: inherit;
}

nav > a:hover, nav > a:focus, nav > a:active {
    color: white;
}

h1, h2 {
    color: #5565ab;
}

#body-middle-container {
    margin-left: 1em;
    margin-right: 1em;
}
