<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Brook Li's Portfolio Site{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href={% static "/base.css" %}>
        {% block head %}{% endblock %}
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="nav-header-container">
            <header>Brook Li</header>
            <nav>
                <a href="/about/" id="about-navlink">About</a>
                <a href="/projects/" id="projects-navlink">Projects</a>
                <a href="/articles/" id="articles-navlink">Articles</a>
            </nav>
        </div>
        <div id="body-middle-container">
            {% block body %}Main page contents will go here{% endblock %}
        </div>
    </body>
</html>
