<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Brook Li's Portfolio Site{% endblock %}</title>
        <link rel="stylesheet" href="/static/base.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>Brook Li</header>
        <nav>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/articles">Articles</a>
        </nav>
        {% block body %}Main page contents will go here{% endblock %}
    </body>
</html>
