{% extends "base.html" %}

{% block title %}
     Brook Li - About
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static "about/style.css" %}>
{% endblock %}

{% block body %}
    <h1>About</h1>
    <main>
        <img id="portrait" src={% static "about/brook_li.jpg" %}>
        <div>
            <p>I am full-stack web and mobile developer proficient in
                React and Express and knowledgeable about Django.</p>
            <ul id="contact-list">
                <li>
                    <img class="contact-list__service-icon" src={% static "about/gmail_logo.svg" %}/>
                    Email: <a href="mailto:emcdynamicist@gmail.com">emcdynamicist@gmail.com</a>
                </li>
                <li>
                    <img class="contact-list__service-icon" src={% static "about/github_mark_darkfg.svg" %}/>
                    Github: <a href="https://github.com/absreim">absreim</a>
                </li>
                <li>
                    <img class="contact-list__service-icon" src={% static "about/linkedin_square_logo.png" %}/>
                    LinkedIn: <a href="https://www.linkedin.com/in/brook-li">brook-li</a>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
