{% extends "base.html" %}

{% block title %}
     Brook Li - About
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href={% static "about/style.css" %}>
{% endblock %}

{% block body %}
    <h1>About</h1>
    <main>
        <img id="portrait" src={% static "about/brook_li.jpg" %}>
        <div>
            <p>I am full-stack web and mobile developer proficient in
                React and Express and knowledgeable about Django.</p>
            <ul>
                <li>Email: <a href="mailto:emcdynamicist@gmail.com">emcdynamicist@gmail.com</a></li>
                <li>Github: <a href="https://github.com/absreim">absreim</a></li>
                <li>LinkedIn: https://www.linkedin.com/in/brook-li</li>
            </ul>
        </div>
    </main>
{% endblock %}
